/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background-color: #d6dee1;
	
	background-image: -moz-radial-gradient(circle closest-corner, #f6f9fa 0%, #d6dee1 100%);
	background-image: -webkit-radial-gradient(circle closest-corner, #f6f9fa 0%, #d6dee1 100%);
	background-image: radial-gradient(circle closest-corner, #f6f9fa 0%, #d6dee1 100%);
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif, 'ו';
	position:relative;
	min-height:500px;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	Photos
-----------------------------*/
#photo_text {
	margin: 0 auto;
	padding: 20px;
	width: 550px;
	position: relative;
	line-height: 2.5em;
	font-family: 'ו';
}
#photo_text em {
	font-size: 18px;
}

#photos{
	margin:0 auto;
	padding-top:30px;
	width:550px;
	position:relative;
}

#photos li{
	position:absolute;
	width:550px;
	height:413px;
	overflow:hidden;
	background-color:#fff;
	box-shadow: 1px 1px 1px #ccc;
	z-index:10;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}

#photos li a{
	position:absolute;
	top:6px;
	left:6px;
	right:6px;
	bottom:6px;
	background-size: cover;
	text-indent:-9999px;
	overflow:hidden;
}


/*----------------------------
	Previous / Next arrows
-----------------------------*/


a.arrow{
	width:33px;
	height:33px;
	background:url('arrows.png') no-repeat;
	position:absolute;
	top:340px;
	opacity:0.9;
}

a.arrow:hover{
	opacity:1;
}

a.arrow.previous{
	left:50%;
	background-position:0 0;
	margin-left:-340px;
}

a.arrow.next{
	right:50%;
	background-position:-33px 0;
	margin-right:-340px;
}


/*----------------------------
	The Demo Footer
-----------------------------*/


#footer{
	background-color: #080808;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 40px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

#footer h2{
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	top:0;
	left: 50%;
	bottom:0;
	margin-left: -420px;
	padding:13px 20px 0;
	border:1px solid #000;
	border-width:0 1px;
	background-color:rgba(0,0,0,0.6);
	box-shadow:0 0 5px #000 inset;
	line-height: 1;
	margin-top: 0;
}

#footer h2 a{
	color: #EEEEEE !important;
	text-decoration:none !important;
}

#footer h2 i{
	font-style:normal;
	color:#888;
}
