body {
	font-family: arial,sans-serif
}
#button_bar {
	margin-top: 90px;
	float: left;
	margin-left: 20px;
}
#button_bar div {
	display:block; float:left; width:50px; height:37px; margin-left: 20px; background-image:url(../images/buttonbar.png);
} 
#button_bar span {
	display:block; margin-top: 40px; color: #fff; text-align: right;
} 
#hplogo {
	height: 156px;
	margin: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100px
}
#logo-blockheads,#logo-blockheads-hold,#logo-goo,#logo-goo-hold,#logo-gumby,#logo-gumby-hold,#logo-gumby-loop,#logo-pokey,#logo-pokey-hold,#logo-prickle,#logo-prickle-hold {
	cursor: pointer;
	position: absolute
}
#logo-gumby {
	display: none;
	height: 156px;
	left: 0px;
	top: 0px;
	width: 98px
}
#logo-gumby-hold {
	background: url(../images/gumby11-initial-sprite.png) no-repeat -0px 0;
	height: 156px;
	left: 0px;
	top: 0px;
	width: 98px
}
#logo-gumby-loop {
	height: 156px;
	left: 0px;
	top: 0px;
	width: 98px
}
.fl {
	-webkit-font-smoothing: antialiased
}